{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-var": "error",
    "prefer-const": "warn",
    "semi": ["warn", "always"]
  }
}
